body{
  background-image: url("https://i.pinimg.com/originals/93/a1/c0/93a1c03d5715c281133854f816c3e36d.jpg");
}
.container{
  border-style: double;
  height: 465px;
  background-color: white;
}
.pallet{
  border-style: double;
  background-color: silver;
}
.pixel{
  height: 10px;
  width: 10px;
  border-style: solid;
  border-width: 1px
}
.selectedColor{
  border-style: double;
  text-align: center;
  color: white;
}
h1{
  text-align: center;
}
.buttonRed{
background-color: red;
color: white;
}
.buttonBlue{
  background-color: blue;
  color: white;
}
.buttonBlack{
background-color: black;
color: white;
}
.buttonAqua{
background-color: aqua;
color: white;
}
.buttonGreen{
background-color: green;
color: white;
}
.buttonPurple{
background-color: purple;
color: white;
}
.buttonYellow{
background-color: yellow;
color: white;
}
.buttonOrange{
background-color: orange;
color: white;
}
